body{
    background-image: url(https://raw.githubusercontent.com/johinsDev/desafios/9c54a7ea70cce45896c579fc1404381625a51101/tercer-nivel/images/bg-mobile.svg); 
    background-repeat: no-repeat;
    background-size: 100%;   
    background-color: blueviolet;
}


.contenido{
    margin: 2% 5%;
    
    display: block;
    text-align: center; 
}

.img{
    width: 100%;
}

.cont{
    width: 100%;
    color: white;
}

button{
    color: blueviolet;
    margin-top: 5%;
    width: 200px;
    height: 50px;
    border: none ;
    border-radius: 100px;
    filter: drop-shadow(5px 5px 10px #444);
    cursor: pointer;
}

footer{
    margin: 2% 5%;
    display: block;;
    text-align: center;
}

.derecha{
    width: 100%;
    display: inline-block;
}

.redes{
    display: inline-block;
    margin: 2% 2%;
}

.end{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

button:hover{
   color: white; 
   background: rgb(186,63,251);
   background: radial-gradient(circle, rgba(119,31,200,1) 0%, rgba(252,70,217,1) 100%);
}

@media (min-width: 600px){

    body{
        background-image: url(https://raw.githubusercontent.com/johinsDev/desafios/9c54a7ea70cce45896c579fc1404381625a51101/tercer-nivel/images/bg-desktop.svg); 
        background-repeat: no-repeat;
        background-size: 100%;   
        background-color: blueviolet;
    }

    .log{
        width: 50%;
    }
    
    .contenido{
        
        margin-bottom: 0%;
        display: flex;
        flex-direction: row;
    }

    img{
        width: 50%;
    }

    .cont{
        width: 50%;
        height: 50%;
        text-align: left;
        padding: 5% 3%;
    }

    footer{
        text-align: right;
        margin: 0%;
        

    }

}
